h3 {
  font-family: "Martian Mono", Arial, sans-serif;
}

p, a {
  font-family: "IBM Plex Sans", Arial, sans-serif;
  line-height: 25px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: black;
}

@media screen and (min-width: 768px) {
  p, a {
    font-size: 13px;
  }
}
header {
  background-color: #deefff;
  border: 1px solid #deefff;
  border-radius: 10px;
  z-index: 30;
}

#main-logo {
  justify-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 50%;
  max-width: 70%;
  transition: all 0.3s ease-in-out;
}
#main-logo:hover {
  opacity: 50%;
}

#home-button {
  align-self: center;
}

#hamburger-menu {
  justify-self: right;
  align-self: center;
  max-width: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#main-nav {
  display: none;
  flex-direction: column;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
#main-nav li {
  margin-bottom: 10px;
  border-bottom: 2px solid #797979;
  transition: all 0.3s ease-in-out;
}
#main-nav li:hover {
  opacity: 50%;
}

.show {
  display: flex !important;
}

.rotate {
  transform: rotate(90deg);
}

.menu-link-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  #hamburger-menu {
    display: none;
  }
  #main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  #main-nav li {
    margin-bottom: 0;
    border-bottom: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-link-mobile {
    display: none;
  }
  .menu-link-desktop {
    display: block;
  }
}
.line-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
.line-divider div {
  border-bottom: 3px solid #797979;
}

@media screen and (min-width: 768px) {
  .line-divider {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
#bottom-nav {
  grid-column-start: 2;
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
}
#bottom-nav li {
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}
#bottom-nav li:hover {
  opacity: 50%;
}

#copyright {
  grid-column-start: 2;
  padding-left: 20px;
  margin-bottom: 20px;
}

model-viewer {
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
}

.hotspot_icon {
  height: 50px;
  margin-bottom: 10px;
}

:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Hotspot {
  background-image: url(/images/star.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  height: 10px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}
.Hotspot div {
  display: flex;
  flex-direction: column-reverse;
}

.Hotspot:not([data-visible]) {
  background-image: url(/images/star.svg);
  box-shadow: none;
  height: 12px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: none;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  visibility: hidden;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

#model div {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  model-viewer {
    height: 550px;
    width: 500px;
  }
  .Hotspot {
    height: 20px;
  }
  .Hotspot:not([data-visible]) {
    height: 22px;
  }
  .hotspot_icon {
    height: 80px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  model-viewer {
    height: 800px;
    width: 900px;
  }
  .Hotspot {
    height: 30px;
  }
  .Hotspot:not([data-visible]) {
    height: 32px;
  }
  .hotspot_icon {
    height: 100px;
    margin-bottom: 20px;
  }
}
#animation {
  max-width: 100%;
}

#animation {
  max-width: 100%;
  padding-top: 30px;
}

#ar-object {
  justify-items: center;
  z-index: 1;
}

#model-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#express-info, #model-description, #xray-desc {
  background-color: #deefff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #deefff;
  border-radius: 20px;
}
#express-info p, #model-description p, #xray-desc p {
  margin-bottom: 15px;
}
#express-info p:first-of-type:not(.collab-button), #model-description p:first-of-type:not(.collab-button), #xray-desc p:first-of-type:not(.collab-button) {
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

#express-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collab-button {
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.collab-button:hover {
  background-color: #9acbfa;
  color: white;
  border: 2px solid #9acbfa;
  transition: all 0.3s ease-in-out;
}

#xray-desc {
  margin-bottom: 20px;
}

#xray-slider {
  display: none;
}

#top-button {
  justify-items: end;
}

#top {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-right: 20px;
}
#top:hover {
  opacity: 50%;
}

#personalization-image {
  background-color: #deefff;
  border: 1px solid #deefff;
  border-radius: 20px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#earbud-caption {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  border: 3px solid #deefff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#personalization {
  align-items: start;
}

@media screen and (min-width: 768px) {
  #express-info p:first-of-type:not(.collab-button) {
    font-size: 30px;
    line-height: 40px;
  }
  #xray-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #xray-mobile img {
    max-height: 50%;
  }
}
@media screen and (min-width: 1200px) {
  #xray-mobile {
    display: none;
  }
  #xray-slider {
    display: grid;
  }
  #xray-slider #xray-container {
    position: relative;
    height: 500px;
  }
  #xray-slider #xray-container .xray-image {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
  }
  #xray-slider #xray-container .right-image {
    background-image: url(/images/xray_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #xray-slider #xray-container .left-image {
    background-image: url(/images/xray_1.jpg);
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #xray-slider #xray-container .slider-bar {
    background-color: #deefff;
    left: 50%;
    width: 5px;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */