#bottom-nav {
    grid-column-start: 2;
    padding-left: 20px;
    li {
        margin-bottom: 15px;
        &:hover {
            opacity: 50%;
        }
    }
}

#copyright {
    grid-column-start: 2;
    padding-left: 20px;
    margin-bottom: 20px;
}