header {
    position: sticky;
    top: 0;
}

#header-nav {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

#main-nav {
    display: flex;
    flex-direction: column;
    li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px)  {

    #header-nav {
        display: block;
    }

    #main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}