@use "../abstracts/variables" as v;

header {
    position: sticky;
    top: 0;
    background-color: v.$bg-colour;
}

#main-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 50%;
    max-width: 70%;
}

#home-button {
    align-self: center;
}

#main-nav {
    display: flex;
    flex-direction: column;
    text-align: right;
    li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px)  {

    #main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        li {
            margin-bottom: 0;
        }
    }
}