@use "../abstracts/variables" as v;

#product-showcase, #ar-object, #xray-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: v.$bg-colour;
    margin-top: 20px;
    border: 1px solid v.$bg-colour;
    border-radius: 20px;
    justify-items: center;
}

#xray-desktop {
    display: none;
}

#xray-mobile {
    background-color: v.$bg-colour;
    margin-top: 20px;
    border: 1px solid v.$bg-colour;
    border-radius: 20px;
    justify-items: center;  
    display: flex;
    flex-direction: column;
    div {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: red;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid v.$bg-colour;
        border-radius: 20px;
    }
}

#express-info {
    background-color: v.$bg-colour;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid v.$bg-colour;
    border-radius: 20px;
    p {
        margin-bottom: 15px;
        &:first-of-type:not(.collab-button) {
            line-height: 30px;
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}

#express-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collab-button {
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    &:hover {
        background-color: v.$dark-gray;
        color: white;
        border: 2px solid v.$dark-gray;
    }
}

#top-button {
    justify-items: end;
}

#top {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        opacity: 50%;
    }
    padding-right: 20px;
}

#personalization-image {
    background-color: v.$bg-colour;
    border: 1px solid v.$bg-colour;
    border-radius: 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (min-width: 768px) {

    #product-showcase, #ar-object, #xray-desktop {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: v.$bg-colour;
        margin-top: 30px;
    }
    
    #express-info {
        p {
            &:first-of-type:not(.collab-button) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    #product-showcase {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 768px) {
    #product-showcase, #ar-object, #xray-desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media screen and (min-width: 1200px) {
    #xray-mobile {
        display: none;
    }

    #xray-desktop {
        display: grid;
    }
}