@use "../abstracts/variables" as v;

#animation {
    max-width: 100%;
    padding-top: 30px;
}

#ar-object {
    justify-items: center;
    z-index: 1;
}

#model-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#express-info, #model-description, #xray-desc {
    background-color: v.$bg-colour;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid v.$bg-colour;
    border-radius: 20px;
    p {
        margin-bottom: 15px;
        &:first-of-type:not(.collab-button) {
            text-align: center;
            line-height: 30px;
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}

#express-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collab-button {
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    &:hover {
        background-color: v.$dark-gray;
        color: white;
        border: 2px solid v.$dark-gray;
    }
}

#xray-desc {
    margin-bottom: 20px;
}

#xray-slider {
    display: none;
}

#top-button {
    justify-items: end;
}

#top {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        opacity: 50%;
    }
    padding-right: 20px;
}

#personalization-image {
    background-color: v.$bg-colour;
    border: 1px solid v.$bg-colour;
    border-radius: 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
    #express-info {
        p {
            &:first-of-type:not(.collab-button) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    #xray-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #xray-mobile {
        img {
            max-height: 50%;
        }
    }
}

@media screen and (min-width: 1200px) {
    #xray-mobile {
        display: none;
    }

    #xray-slider {
        display: grid;
        #xray-container {
            position: relative;
            height: 500px;

            .xray-image {
                position: absolute;
                left: 0;
                right: 0;
                height: 500px;
            }

            .right-image {
                background-image: url(/images/xray_2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }

            .left-image {
                background-image: url(/images/xray_1.jpg);
                width: 50%;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .slider-bar {
                background-color: orange;
                left: 50%;
                width: 5px;
                cursor: pointer;
            }
        }
    }

}